
    .bbackground {
        background-image: url('../images/extras/reloj.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 10px;
        background-attachment: fixed;
        size: var;
    }

